/* app/globals.css */

:root {
  --dark-background: #0f0101;
  --dark-main-background: rgb(14, 2, 2);
  --light-text: #f0f0f0;
  --table-border: #333;
  --table-header-background: #222;
  --table-row-even-background: #1a1a1a;
  --yellow-title: #fde50a;
}

html,
body {
  color: var(--light-text); /* Establece el color de texto */
  background-color: var(--dark-background); /* Establece el fondo */
  font-family:  'Arial Narrow', Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  max-width: 100vw;
  overflow-x: hidden;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}