
.page {
  background-color: var(--dark-background);
}

.main {
  background-color: var(--dark-main-background);
}

.pronosticosTitle {
  color: var(--light-text);
}

.pronosticosTable th,
.pronosticosTable td {
  border: 1px solid var(--table-border);
}

.pronosticosTable th {
  background-color: var(--table-header-background);
  color: var(--light-text);
}

.pronosticosTable tbody tr:nth-child(even) {
  background-color: var(--table-row-even-background);
}

.graficaTitle {
color: var(--yellow-title);
}